package app

import (
	"log"
	glide "github.com/JasnRathore/glide-lib"
)

func App() *glide.App {
	config := glide.AppConfig{
		Title:     "{{.Title}}",
		Width:     500,
		Height:    1080,
		Debug:     true,
		AutoFocus: true,
		IconID:    1,
		
		Tray: &glide.TrayConfig{
			IconID:  2,
			Title:   "{{.Title}}",
			Tooltip: "{{.Title}}",
		},
	}

	app := glide.New(config)
	
	app.AddMenuItem(glide.MenuItem{
		Title: "Show Window",
		Handler: func() {
			log.Println("Show window requested")
			app.ShowWindow()
		},
	})

	app.AddMenuItem(glide.MenuItem{
		Title: "Exit",
		Handler: func() {
			log.Println("Exit requested")
			app.Exit()
		},
	})
	
	return app
}