package main

import (
	a "{{.Title}}/app"
)


func main() {
	// port capturing to be automated in the future
	port := "http://localhost:5173/"
	
	w := a.App()
	defer w.Destroy()
	w.Navigate(port)
	w.Run()
}
